{% extends 'base.html' %}

{% block title %}

	{{mentor.name}}

{% endblock %}



{% block profiletype %}Mentor{% endblock %}



{% block picture %}	     	
	{% if mentor.pic %}
		<div class="p-3">
     		<img class="profile-photo" src="{{mentor.pic}}">
     	</div>
 	{% endif %}
{% endblock %}



{% block content %}
  <div class="p-3 border bg-light">
  	<h3>Basic Info</h3>
  	<dl class="row">

		<dt class="col-sm-4">Name</dt>
     	<dd class="col-sm-8">{{mentor.name}}</dd>

     	<dt class="col-sm-4">Email</dt>
		<dd class="col-sm-8">{{mentor.email}}</dd>
  		

  		<dt class="col-sm-4">Preferred communication</dt>
		<dd class="col-sm-8">{{mentor.comm}}</dd>

		<dt class="col-sm-4">Location</dt>
      	<dd class="col-sm-8">{{mentor.city}}</dd>

      	<dt class="col-sm-4">Timezone</dt>
      	<dd class="col-sm-8">{{mentor.timezone}}</dd>

      	<dt class="col-sm-4">Description</dt>
      	<dd class="col-sm-8">{{mentor.personality}}</dd>

      	{% if mentor.linkedin %}
      	
	      	<dt class="col-sm-4">Linkedin</dt>
			<dd class="col-sm-8"><a href="{{mentor.linkedin}}">{{mentor.linkedin}}</a></dd>		      	

		{% endif %}
  </dl>
</div>

  <div class="p-3 border bg-light">
  	<h3>Technical Info</h3>
  	<dl class="row">
  		<dt class="col-sm-4">Title</dt>
      	<dd class="col-sm-8">{{mentor.job}}</dd>

     	<dt class="col-sm-4">Day-to-day</dt>
      	<dd class="col-sm-8">{{mentor.daily_work}}</dd>


		<dt class="col-sm-4">Technical Passions</dt>
		<dd class="col-sm-8">{{mentor.technical_passion}}</dd>			      		
  	</dl>
  </div>

<div class="p-3 border bg-light">
  	<h3>Mentoring Info</h3>
  	<dl class="row">


  		<dt class="col-sm-4">Motivation for Mentoring</dt>
			<dd class="col-sm-8">{{mentor.why}}</dd>

			<dt class="col-sm-4">Favorite Advice</dt>
			<dd class="col-sm-8">"{{mentor.advice}}"</dd>

  	{% if mentor.experience %}

  		<dt class="col-sm-4">Mentorship Experience</dt>
			<dd class="col-sm-8">{{mentor.experience}}</dd>
	
  	{% endif %}


		{% if mentor.hb_exp %}


			<dt class="col-sm-4">Hackbright Mentoring Experience? How many cohorts?</dt>
			<dd class="col-sm-8">{{mentor.hb_exp}}</dd>

		{% endif %}

     {% if mentor.strengths %}

			<dt class="col-sm-4">Personal Job Search Strengths</dt>
			<dd class="col-sm-8">{{mentor.strengths}}</dd>
  	
  	{% endif %}

  	

  		<dt class="col-sm-4">How They Want to Help You</dt>
		<dd class="col-sm-8">
			<ul>
				{% if mentor.help_topics %}

					{% for topic in mentor.help_topics %}
					    <li>{{topic}}</li>
				    {% endfor %}

				{% else %}

					<li>How to handle failure</li>
					<li>How to fight imposter syndrome</li>
					<li>Networking</li>
				{% endif %}

			</ul>
		</dd>
    </dl>
  	
  	
</div>

{% endblock %}
